{% extends 'informations/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>記録を追加</h2>
{% endblock page_header %}

{% block content %}

  <style>
    input{
      width: 100%;
    }
  </style>

  <p><a href="{% url 'informations:infos' %}">色番号実績</a></p>

  <form action="{% url 'informations:new_info' %}" method="post" class="form">
    {% csrf_token %}
    <label for="yearselect">年</label><br>
    <input type="text" name="y" list="ye" id="yearselect" maxlength="10">
    <datalist id="ye" name="y">
      {% for year in years %}
      <option value="{{year}}"></option>
      {% endfor %}
    </datalist><br>
    <label for="monthselect">月</label><br>
    <input type="text" name="m" list="mon" id="monthselect" maxlength="10">
    <datalist id="mon" name="m">
      {% for month in months %}
      <option value="{{month}}"></option>
      {% endfor %}
    </datalist><br>
    <label for="companyselect">元請</label><br>
    <input type="text" name="c" list="com" id="companyselect" maxlength="20">
    <datalist id="com" name="c">
      {% for company in companies %}
      <option value="{{company}}"></option>
      {% endfor %}
    </datalist><br>
    <label for="kouziselect">工事名</label><br>
    <input type="text" name="k" list="kou" id="kouziselect" maxlength="20">
    <datalist id="kou" name="k">
      {% for kouzi in kouzis %}
      <option value="{{kouzi}}"></option>
      {% endfor %}
    </datalist><br>
    <label for="placeselect">場所</label><br>
    <input type="text" name="p" list="pl" id="place" maxlength="20">
    <datalist id="pl" name="p">
      {% for place in places %}
      <option value="{{place}}"></option>
      {% endfor %}
    </datalist>
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">記録を追加</button>
    {% endbuttons %}
  </form>

{% endblock content %}