{% extends 'alcoholchecks/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h3>ダウンロード</h3>
{% endblock page_header %}

{% block content %}
  <form action="{% url 'alcoholchecks:excel_download' %}" method="post" class="form">
    {% csrf_token %}
    <select name="year">
      {% for year in years %}
        <option value="{{year}}">{{year}}年</option>
      {% endfor %}
    </select>
    <select name="month">
        {% for month in months %}
          <option value="{{month}}">{{month}}月</option>
        {% endfor %}
    </select>
    {% buttons %}
      <br>
      <button type="submit" class="btn btn-primary" name="download_or_delete"
       value="download">ダウンロード</button>
      <button type="submit" class="btn btn-primary" name="download_or_delete"
       value="delete" onclick="return confirm('この期間の記録を削除します。よろしいですか')">一括削除</button>
    {% endbuttons %}
  </form>

  {% for info in infos %}
    <div class="card mb-3">
        <h4 class="card-header">
            {{ info.date_added|date:'Y年m月d日 H:i' }}
        </h4>
        <div class="card-body">
            {{ info.alcohol }}  車両ナンバー:{{ info.carnumber }}
        </div>
    </div>
    {% empty %}
      <p>選択されていません</p>
    {% endfor %}

{% endblock content %}