{% extends 'alcoholchecks/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>記録を追加 &emsp;<a href="{% url 'alcoholchecks:infos' user.id %}">{{ user }}</a></h2>
{% endblock page_header %}

{% block content %}

  <form action="{% url 'alcoholchecks:new_info' user.id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">記録を追加</button>
    {% endbuttons %}
  </form>

{% endblock content %}